<app-toolbar-security></app-toolbar-security>
<div class="wrapper">
  <div class="security-layout-logo-container">
    <div class="security-layout-left-side">
      <img
        width="40"
        alt="Apple Icon"
        src="assets/images/apple-icon-white.png"
        class="image-logo"
      />
      <span class="ad-text">New Products Coming This Summer</span>
      <span class="current-year">{{ currentYear }}</span>
    </div>
    <div class="security-layout-right-side">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
