.custom-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background: transparent linear-gradient(90deg, #F2F2F2 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
  height: 100%;

  .custom-card-icon {
    position: absolute;
    top: 15%;
    right: 7%;
    padding: 0;
    opacity: 0.3;
  }

  div {
    padding-left: 5%;
    display: flex;

    &.custom-card-product-name {
      align-items: flex-end;
      height: 30%;
      color: red;
      font-weight: Bold;
      font-size: 32px;
      span {
        margin-bottom: 17px;
        margin-left: 14px;
      }

      &.custom-card2 {
        margin-bottom: 40px;
        height: 20%;
      }
    }

    &.custom-card-title {
      align-items: center;
      height: 40%;
      font-weight: Bold;
      font-size: 100px;
      line-height: 100px;
      z-index: 10;

      &.custom-card2 {
        align-items: flex-start;
        height: 50%;
      }
    }

    &.custom-card-subtitle {
      height: 30%;
      width: 65%;
      color: #999999;
      font-size: 25px;
      margin-top: 27px;  
      line-height: 40px;

      &.custom-card2 {
        width: 85%;
      }
    }
  }
}
