<div class="macbook-info-card">

    <div class="macbook-info-card-column1">
        
    <div class="custom-card-product-name">
        <span>MacBook Pro</span>
      </div>
      <div class="custom-card-title">
        <span>More power.</span>
        <span>More pro</span>
      </div>
      <div class="custom-card-subtitle">
        <div class="tech-info-container">
            <span class="tech-info-value">8-core</span>
            <span class="tech-info-name">Intel processor</span>
        </div>
        <div class="tech-info-container separator">
            <span class="tech-info-value">32GB</span>
            <span class="tech-info-name">Memory</span>
        </div>
      </div>
        
    </div>
  </div>
  