/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/_fonts.scss';
@import '~@angular/material/theming';
@import "assets/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "assets/scss/reset";


// primary font
$primary_font: 'Poppins';

$custom-typography: mat-typography-config(
  $font-family: $primary_font
);

@include angular-material-typography($custom-typography);

html, body { height: 100%; }
body { 
  height: 100%;
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
}

.pointer {
  cursor: pointer;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}
